<div class="table-container">
  @if (showSearch()) {
  <div
    class="flex items-center gap-2 w-32 focus-within:border-blue-500 focus-within:w-48 transition-all duration-300 ease-in-out rounded-md p-2 px-4 bg-white border border-slate-300 mb-4"
  >
    <span class="text-slate-600">
      <ng-icon name="bootstrapSearch" />
    </span>
    <input
      type="search"
      [ngModel]="searchTerm()"
      (ngModelChange)="updateSearchTerm($event)"
      class="w-full placeholder:text-slate-400 placeholder:text-[14px] placeholder:italic outline-none ring-none bg-transparent"
      placeholder="Search backlog..."
    />
  </div>
  }

  <div
    cdkDropList
    [cdkDropListData]="dataSource.data"
    (cdkDropListDropped)="drop($event)"
  >
    <mat-table #table [dataSource]="dataSource" matSort class="jira-table">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          ID
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Task
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="task-title">
            <span class="task-name">{{ element.title }}</span>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span
            class="status-badge"
            [ngClass]="element.status.toLowerCase().replace(' ', '-')"
          >
            {{ element.status }}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dueDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Due Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="due-date" [class.overdue]="element.overdue">{{
            element.dueDate
          }}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="assignee">
        <mat-header-cell *matHeaderCellDef> Assignee </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="assignee-circle">{{ element.assignee_id }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            [matMenuTriggerData]="{ element: element }"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-menu #menu="matMenu">
        <ng-template matMenuContent let-element="element">
          <button mat-menu-item (click)="onView(element)">
            <mat-icon>visibility</mat-icon>
            <span>View</span>
          </button>

          <button mat-menu-item (click)="onEdit(element)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>

          <button mat-menu-item (click)="onDelete(element)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </ng-template>
      </mat-menu>

      
      <mat-header-row *matHeaderRowDef="displayedColumns()"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns()"
        cdkDrag
        [cdkDragData]="row"
      >
        <ng-template cdkDragPreview>
          <div class="drag-preview">
            <mat-icon>drag_indicator</mat-icon>
            {{ row.title }}
          </div>
        </ng-template>

        <ng-template cdkDragPlaceholder>
          <div class="drag-placeholder"></div>
        </ng-template>
      </mat-row>
    </mat-table>
  </div>
</div>
