<aside
  [class]="isSidebarOpen() ? 'w-64 p-5' : 'w-16 py-5 px-2'"
  class="h-full bg-white border-r w-12 transition-all border-slate-200"
>
  <div
    [class]="!isSidebarOpen() ? 'justify-center h-5' : ''"
    class="flex items-center justify-between group"
  >
    <div
      [class]="!isSidebarOpen() ? 'group-hover:hidden' : ''"
      class="flex items-center gap-2 text-blue-500 text-lg"
    >
      <ng-icon name="bootstrapAmd" />
      @if (isSidebarOpen()) {
      <h1 class="font-bold text-slate-700 whitespace-nowrap">CollabSpace</h1>
      }
    </div>
    <div
      [class]="!isSidebarOpen() ? 'hidden group-hover:flex' : ''"
      class="cursor-pointer text-slate-600"
      (click)="toggleSidebar()"
      [title]="isSidebarOpen() ? 'Collapse sidebar' : 'Expand sidebar'"
    >
      <ng-icon
        [name]="
          isSidebarOpen()
            ? 'bootstrapLayoutSidebarInset'
            : 'bootstrapLayoutSidebarInsetReverse'
        "
      />
    </div>
  </div>

  <ul class="flex flex-col py-3 h-[98%] gap-1 pt-5">
    @for (item of sidebarLinks; track $index) { @if (item.name !== 'Projects') {
    <li
      [matTooltip]="!isSidebarOpen() ? item.name : ''"
      aria-label="Button that displays a tooltip when focused or hovered over"
      routerLinkActive="bg-blue-500 text-white hover:text-slate-600"
      [routerLink]="item.path"
      [class.justify-center]="!isSidebarOpen()"
      class="text-slate-600 flex items-center gap-2 transition-all hover:bg-slate-100 rounded-md p-2 cursor-pointer"
    >
      <ng-icon [name]="item.icon" />
      @if (isSidebarOpen()) {
      <p>{{ item.name }}</p>
      }
    </li>
    }

    <!-- Projects Tree Section -->
    @if (item.name === 'Projects') {
    <li
      class="flex flex-col transition-all rounded-md cursor-pointer text-slate-600"
    >
      <div
        [class.justify-center]="!isSidebarOpen()"
        class="flex items-center gap-2 hover:bg-slate-100 rounded-md p-2 group"
        (click)="toggleProjects()"
      >
        <div class="">
          <span class="hidden group-hover:flex -m-1 -mr-1.5">
            <mat-icon>
              {{ isProjectsOpen() ? "expand_more" : "chevron_right" }}
            </mat-icon>
          </span>
          <span class="flex group-hover:hidden">
            <ng-icon [name]="item.icon" />
          </span>
        </div>
        @if (isSidebarOpen()) {
        <p>Projects</p>
        <div
          routerLink="/dashboard/projects/create"
          title="create project"
          class="ml-auto h-full hidden items-center justify-center text-lg border rounded-full border-dotted border-transparent hover:border-slate-600 group-hover:flex"
        >
          <ng-icon name="bootstrapPlus" />
        </div>
        }
      </div>

      @if (isProjectsOpen() && isSidebarOpen()) {
      <div class="pl-6">
        @if(isLoading()){
        <li class="animate-pulse p-2 w-full h-full bg-slate-100">Loading...</li>
        }@else{ @for (item of projectTreeData() | slice:0:3; track $index) {
        <li
          routerLinkActive="bg-blue-500 text-white hover:text-slate-600"
          [routerLink]="item.route"
          [class.justify-center]="!isSidebarOpen()"
          class="text-slate-600 flex items-center gap-2 transition-all hover:bg-slate-100 rounded-md p-2 cursor-pointer"
        >
          @if (isSidebarOpen()) {
          <p>{{ item.name }}</p>
          }
        </li>
        }

        <li
          routerLink="projects"
          [class.justify-center]="!isSidebarOpen()"
          class="text-blue-500 flex items-right transition-all hover:underline rounded-md cursor-pointer"
        >
          @if (isSidebarOpen() && projectTreeData().length > 3) {
          <p>...view all</p>
          }
        </li>
        }
      </div>
      }
    </li>
    } }

    <li
      [matTooltip]="!isSidebarOpen() ? 'Settings' : ''"
      routerLinkActive="bg-blue-500 text-white hover:text-slate-600"
      routerLink="settings"
      [class.justify-center]="!isSidebarOpen()"
      class="text-slate-600 flex items-center gap-2 transition-all hover:bg-slate-100 rounded-md p-2 mt-auto cursor-pointer"
    >
      <ng-icon name="bootstrapGear" />
      @if (isSidebarOpen()) {
      <p>Settings</p>
      }
    </li>
  </ul>
</aside>
